* {
    margin: 0;
    padding: 0;
    
}

#container {
    margin: auto;
    width: 800px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
ul, ol {
    list-style: none;
}
.main-ul li a{
    background-color: #45e796;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 140px;
    text-align: center;
    border-end-start-radius: 10px;
}   
.main-ul li a:hover{
    background-color: #2b8859;
    transition-duration: 0.3s;
}
.dropdown2 {
    display: block;
    background-color: #2b8859;
    width: 120px;
    padding: 10px 15px;
}
.main-ul > li {
    float: left;
}
.main-ul li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    color: #033603;

}
.main-ul li:hover > ul {
    display: block;
    margin: auto;
    animation-name: dropdown;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    z-index: -1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
@keyframes dropdown {
    0% {transform: translateY(-100px);}
    20% {transform: translateY(-80px);}
    40% {transform: translateY(-50px);}
    60% {transform: translateY(-30px);}
    80% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}


a {
    color: #033603;
}
.main-ul li:hover > a {
    background-color: #2b8859;
    
}
