* {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

#main {
    display: inline-block;
    background-image: linear-gradient(to bottom,#e6c68d, #f0d4a4, #cfcfcf );
    padding: 15px;
    text-align: center;
}
#title {
    display: block;
    padding: 100px;
    font-size: 6em;
    text-transform: lowercase;
    color: #e6c68d;
    text-shadow: 1px 2px #a86b02;
    letter-spacing: 1px;
    border-style: double;
    border-color: #313631;
    border-left: 0;
    border-right: 0;
    background-color: #252525;
    margin: -20px;
    border-color: #fff;
    
}
img {
    display: block;
    position: relative;
    max-width: 100%;
    top: 50px;
    margin: auto;
    border-radius: 50%;
    border: solid 1px #313631;
    z-index: 1;
    transform: translateY(-100px)
}
#img-caption {
    display: block;
    font-size: 1.5em;
    margin: 15px 0px 5px 0px;
    text-align: center;
    color: #464646;
    transform: translateY(-60px);

}
#pmain {
    display: inline-block;
    font-size: 2em;
    text-align: center;
    margin: 15px;
    padding: 5px 10px 50px 10px;
    background-image: linear-gradient(to bottom, transparent, #313131);
    position: relative;
    z-index: 1;
    color: #252525;
    text-shadow: 1px 1px #f0d4a4;
    
}
#nav1 {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    display: block;
    margin: auto;
    line-height: 40px;
}
a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    animation: 2s bounce infinite;
    right: 18px;
    z-index: 3;
}

h3 {
    display: block;
    color: #313631;
    font-size: 4em;
    padding: 10px 25px 20px 15px;
    margin: auto;
    border-style: double;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
}
i {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #232323;
    font-size: 4em;
	animation: 2s bounce infinite;
        
}

@keyframes bounce {
    0%, 20%, 40%, 80%, 100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    80% {transform: translateY(-10px);}
}

.p-desc {
    margin: auto;
    padding: 20px;
    font-size: 20px;
    text-shadow: 1px 1px #ccc;
    text-align: center;
    border: double;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #313631;

}
h4 {
    font-size: 3em;
    color: #313631;
    margin: 20px;
}
.p2 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: auto;
    padding: 15px;
    border: double;
    text-align: center;
    text-shadow: 1px 1px #ccc;
    line-height: 30px;

}
.stud__li {
    font-size: 14px;
    letter-spacing: 1px;
    
    
}
.stud__ul {
    display: inline-block;
    border-style: double;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hobbies {
    display: inline-block;
    border-style: double;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    letter-spacing: 1px;
}
.main__footer {
    display: block;
    margin: auto;
    position: relative;
    padding: 5px;
    background-color: #161616;
    color: #e2d0b2;
    width: 100%;
    font-size: 12px;
    text-align: center;
    
}